<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <style>
        body {
            font-family: EF_Diary,serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .message {
            text-align: center;
            padding: 20px;
            font-size: 27px;
        }
  </style>
</head>
<body>
<div class="message">
  <h1>서비스 접근 대기 중 입니다.</h1>
  <span>고객님의 대기열은 </span><span style="color: red;" id="number">[[${number}]]</span><span>명 입니다.</span>
  <br/>
  <p>현재 접속 사용자가 많아 대기중이며</p>
  <p>잠시만 기다리시면 자동 접속 됩니다.</p>
  <p id="updated"></p>
  <br/>
</div>
<script>
  function fetchWaitingRank() {
    const queue = '[[${queue}]]';
    const idempotencyKey = '[[${idempotencyKey}]]';
    const queryParam = new URLSearchParams({queue: queue, idempotencyKey: idempotencyKey});
    fetch('/api/accessor-queuing/rank?' + queryParam)
      .then(response => response.json())
      .then(data => {
        if (data.rank < 0) { // waiting queue 에 해당 유저 데이터가 존재하지 않는 경우
          fetch('/api/accessor-queuing/touch?' + queryParam)
            .then(response => {
              document.querySelector('#number').innerHTML = 0;
              document.querySelector('#updated').innerHTML = new Date();

              // const newUrl = window.location.origin + window.location.pathname + window.location.search;
              const newUrl = `http://localhost:8080/main?idempotencyKey=${idempotencyKey}`
              window.location.href = newUrl;
            })
            .catch(error => console.error(error));
          return;
        }
        document.querySelector('#number').innerHTML = data.rank;
        document.querySelector('#updated').innerHTML = new Date();
      })
      .catch(error => console.error(error));
  }

  setInterval(fetchWaitingRank, 3000);
</script>
</body>
</html>
